:root{
--verdelimon: #BDD141;
--verde:#1e8b71;
--verdeazul: #004358;
--naranja: #ee741a;
--amarillo:#FFE119;
--blanco:#fff;
--gris: #c9d8d5;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url("./Assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 8rem;
  font-weight: bold;
  color: var(--naranja);
}
h2 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  font-weight: bold;
  color: var(--verdeazul);
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: var(--naranja);
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--verdeazul);
}

h5 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--verdeazul);
}
h6 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--naranja);
}

h7 {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blanco);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--verde);
  font-weight: 300;
}

.btn {
  background-color: var(--naranja);
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  border-radius: 18px;
  font-weight: bold;
}
form .btn {
  font-size: 24px;
  border-radius: 5px;
}

.caja {
  background-color: var(--naranja);
}

.caja1,
.caja2 {
  height: 300px;
  border-radius: 20px;
  background-color: var(--naranja);
}

.caja1 {
  background-image: url("./Assets/img1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.caja2 {
  background-image: url("./Assets/img2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.nav li a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--verde);
}

.nav li:nth-of-type(4) {
  background-color: var(--gris);
  border-radius: 10px;
}
.nav li:nth-of-type(4):hover {
  background-color: var(--naranja)
}

main>div:nth-of-type(1){
  margin-top: 5rem;
}

footer {
  background-color: var(--verde);
}

footer p {
  color: var(--blanco);
}

.logo2 {
  width: 200px;
  height: 50px;
  background-image: url("./Assets/logonegativo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
input,
textarea {
  border-radius: 5px;
  border: 0;
  outline: var(--naranja);
}
input {
  border-radius: 5px;
}

#naranja {
  background-color: var(--naranja);
  height: 40px;
  z-index: -1;
  
}

#verde {
  background-color: var(--verde);
  height: 40px;
  
}

header{
  background-color: var(--blanco);
}

header>div:nth-of-type(2){
  background-color: var(--verdelimon);
  height: 100px;
}
header>div:nth-of-type(2)>div:nth-of-type(1){
  background-image: url("./Assets/delivery.svg");
  background-repeat: no-repeat;
  background-position: 10% 0;
  background-size: contain;
  height: 40px;
}
header>div:nth-of-type(2)>div:nth-of-type(2){
  background-image: url("./Assets/wsp.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;
  background-size: contain;
  height: 40px;
}
header>div:nth-of-type(2)>div:nth-of-type(1){
  background-image: url("./Assets/delivery.svg");
  background-repeat: no-repeat;
  background-position: 10% 0;
  background-size: contain;
  height: 40px;
}


.card{
  border-radius: 10px;
}
.card img{
  width: 40%;
}

.card button{
border:0;
}

.card a{
  text-decoration: none;
  color: var(--naranja);
  font-weight: 500;
}

.delivery{
  background-color: var(--blanco);
  height: 50px;
  background-image: url("./Assets/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}


small{
  color: var(--blanco);
}


/* Sesión */